@{
    ViewData["Title"] = "Ana Sayfa";
}

<h2>Hoş Geldiniz FinanceApp</h2>
<p>Aşağıdaki yönetimsel arayüz ekranlarına ulaşmak için ilgili linkleri kullanabilirsiniz:</p>
<ul>
    <li><a href="@Url.Action("Index", "Agreement")">Anlaşmalar</a></li>
    <li><a href="@Url.Action("Index", "BusinessPartner")">İş Ortakları</a></li>
    <li><a href="@Url.Action("Index", "Job")">İş Konuları</a></li>
    <li><a href="@Url.Action("Index", "RiskAnalysis")">Risk Analizi</a></li>
    <li><a href="@Url.Action("Index", "Evaluation")">Değerlendirme</a></li>
</ul>
